@import "./variables";
@import "./mixins";

html body {
  background: $background;
  height: 100%;
  width: 100%;
}

header {
  background: $rootColor;
  color: $accentColor;
  margin: auto;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 100%;
  margin-bottom: $space;
}

main {
  padding: $spacing;
  padding-top: $space;
  @include flex($flexCol...);

  p {
    @include borderRadius($radius);
    @include center($center);
    padding: $spacing;
  }
}

footer {
  background: $rootColor;
  bottom: 0;
  color: $accentColor;
  margin: auto;
  padding: $spacing;
  position: fixed;
  text-align: center;
  width: 100%;
}
